.top-level-frame {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--colours-primary);
  height: 1011px;
}
.label-name,
.title-dependent {
  position: relative;
  flex-shrink: 0;
}
.title-dependent {
  margin: 0;
  width: 580px;
  height: 121px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}
.label-name {
  width: 169px;
  height: 30px;
  display: inline-block;
}
.rect-name-icon {
  height: 55px;
  width: 513px;
  position: relative;
  display: none;
  max-width: 100%;
}
.input-name {
  width: auto;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: 28px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.dependent-age-label {
  flex: 1;
  background-color: var(--colours-primary);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-smi);
  max-width: 100%;
}
.dependent-name,
.i-c-label-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.i-c-label-frame {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.dependent-name {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.label-ic,
.rect-ic-icon {
  width: 250px;
  position: relative;
  display: inline-block;
}
.rect-ic-icon {
  height: 55px;
  width: 513px;
  display: none;
  max-width: 100%;
}
.input-ic {
  width: 150px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: 28px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.dependent-ic,
.input-i-c-input-age,
.rect-ic-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rect-ic-parent {
  flex: 1;
  background-color: var(--colours-primary);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-smi);
}
.dependent-ic,
.input-i-c-input-age {
  align-self: stretch;
  align-items: flex-start;
}
.input-i-c-input-age {
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.dependent-ic {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.label-age,
.rect-age-icon {
  width: 252px;
  position: relative;
  display: inline-block;
}
.rect-age-icon {
  height: 55px;
  width: 513px;
  display: none;
  max-width: 100%;
}
.input-age {
  width: 21px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: 28px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.dependent-age-inner,
.rect-age-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rect-age-parent {
  flex: 1;
  background-color: var(--colours-primary);
  border: 1px solid var(--color-black);
  align-items: center;
  padding: var(--padding-sm) var(--padding-lg) var(--padding-smi);
}
.dependent-age-inner {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.dependent-age {
  align-self: stretch;
  gap: var(--gap-mini);
}
.dependent-age,
.dependent-name-frame,
.relay-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.relay-frame {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.dependent-name-frame {
  width: 517px;
  gap: var(--gap-21xl);
  min-width: 517px;
}
.label-relationship,
.rect-relay-icon {
  width: 252px;
  position: relative;
  display: inline-block;
}
.rect-relay-icon {
  height: 55px;
  width: 513px;
  display: none;
  max-width: 100%;
}
.input-relay {
  width: auto;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  height: 28px;
  position: relative;
  color: #000;
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.dependent-relay,
.submit-button-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.submit-button-frame {
  align-self: stretch;
  background-color: var(--colours-primary);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) var(--padding-lgi) var(--padding-smi);
}
.dependent-relay {
  width: 513px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  min-width: 513px;
}
.dependent-form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.button-submit {
  align-self: stretch;
  width: 165px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  cursor: pointer;
}
.submit1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
  margin-left: -129px;
}
.dependent-label,
.submit {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.submit {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 165px;
  height: 60px;
  flex-direction: row;
  z-index: 1;
}
.dependent-label {
  align-self: stretch;
  flex-direction: column;
  gap: 115px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.background-putih,
.dependent-page {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.background-putih {
  width: 1268px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl) 330px 71px;
  gap: var(--gap-46xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-darkgoldenrod);
  font-family: var(--font-changa-one);
}
.dependent-page {
  width: 100%;
  background-color: var(--color-linen);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-45xl) var(--padding-xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .dependent-name-frame,
  .dependent-relay {
    flex: 1;
  }
  .dependent-form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dependent-label {
    gap: 57px;
  }
  .background-putih {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .title-dependent {
    font-size: var(--font-size-21xl);
  }
  .background-putih {
    padding-bottom: 214px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .dependent-name-frame {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .dependent-relay {
    min-width: 100%;
  }
  .dependent-label {
    gap: 29px;
  }
  .background-putih {
    gap: var(--gap-13xl);
    padding-bottom: var(--padding-120xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .title-dependent {
    font-size: var(--font-size-11xl);
  }
  .input-age,
  .input-ic,
  .input-name,
  .input-relay,
  .submit1 {
    font-size: var(--font-size-lgi);
    width: 80%; /* Adjust the width of the form fields */
  }
  .background-putih {
    gap: var(--gap-base);
  }
}

