.homepage-child,
.kotak-atas1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.homepage-child {
  top: 141px;
  height: 719px;
  object-fit: cover;
}
.kotak-atas1 {
  top: 0;
  background-color: var(--colours-primary);
  border-bottom: 0.6px solid var(--color-gray);
  box-sizing: border-box;
  height: 257.6px;
}
.frame-inner {
  position: absolute;
  top: 32px;
  left: 344px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  width: 957px;
  height: 70px;
}
.articles1,
.contact-us1,
.home1,
.programmes1 {
  position: absolute;
  top: 58px;
  left: 1021px;
  cursor: pointer;
}
.articles1,
.home1,
.programmes1 {
  left: 898px;
}
.home1,
.programmes1 {
  left: 720px;
}
.home1 {
  left: 458px;
}
.log-in1,
.login {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in1 {
  right: 0;
  bottom: 0;
}
.log-in {
  position: absolute;
  top: 50px;
  left: 1146px;
  width: 111px;
  height: 34px;
  cursor: pointer;
  text-align: center;
}
.about-us2 {
  flex: 1;
  position: relative;
}
.dropdown-item {
  position: relative;
  width: 13px;
  height: 14px;
  object-fit: contain;
  margin-left: -71px;
}
.dropdown1 {
  position: absolute;
  top: 50px;
  left: 535px;
  border-radius: var(--br-8xs);
  background: linear-gradient(#d9d9d9, #d9d9d9), #fff;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 154px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-9xs);
  min-width: 154px;
  text-align: center;
  cursor:pointer;
}
.frame-container,
.frame-div,
.frame-wrapper,
.homepage-inner,
.kotak-atas-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 134px;
  overflow: hidden;
}
.frame-container,
.frame-div,
.frame-wrapper,
.homepage-inner {
  height: 163px;
}
.frame-container,
.frame-wrapper,
.homepage-inner {
  height: 135px;
}
.frame-wrapper,
.homepage-inner {
  height: 165px;
}
.homepage-inner {
  height: 135px;
  font-size: var(--font-size-sm);
  font-family: var(--font-krona-one);
}
.psj-transparent-31,
.psj-transparent-41 {
  position: absolute;
  top: 15px;
  left: 210px;
  width: 122px;
  height: 123px;
  object-fit: cover;
}
.psj-transparent-41 {
  top: 44px;
  left: 100px;
  width: 222px;
  height: 208px;
}
.projek-sedekah-jariah-container4 {
  position: absolute;
  top: 254px;
  left: 112px;
}
.projek-sedekah-jariah-container5 {
  position: absolute;
  top: 593px;
  left: 1024px;
}
.privacy-policy-terms-container1 {
  position: absolute;
  top: 539px;
  left: 1024px;
  white-space: pre-wrap;
}
.email-projeksedekahjariahgma {
  margin: 0;
}
.line-div,
.no-telefon-013-286-container1 {
  position: absolute;
  top: 389px;
  left: 112px;
}
.line-div {
  top: 577.5px;
  left: 99.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1241px;
  height: 1px;
}
.psj-transparent-4-group {
  position: absolute;
  top: 4550px;
  left: 12px;
  width: 1440px;
  height: 1551px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  font-family: var(--font-cagliostro);
}
.ellipse-icon,
.homepage-item,
.psj-transparent-42 {
  position: absolute;
  top: 234px;
  left: 782px;
  width: 602px;
  height: 526px;
  object-fit: cover;
}
.ellipse-icon,
.homepage-item {
  top: 839px;
  left: 0;
  width: 1440px;
  height: 206px;
}
.ellipse-icon {
  top: 1106px;
  left: 140px;
  border-radius: 50%;
  width: 499px;
  height: 535px;
}
.span {
  color: var(--color-burlywood);
}
.psj-abd-ghani {
  margin: 0;
  color: #8d8741;
}
.welcome-to-psj-container {
  position: absolute;
  top: 1124px;
  left: 732px;
  font-family: var(--font-archivo-black);
  display: inline-block;
  width: 708px;
  height: 22px;
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
}
.projek-sedekah-jariah-container6 {
  position: absolute;
  top: 1150px;
  left: 745px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-changa);
  white-space: pre-wrap;
  display: inline-block;
  width: 626px;
  height: 362px;
}
.homepage-child1 {
  position: absolute;
  top: 1703px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 622px;
}
.homepage-child2,
.homepage-child3,
.homepage-child4 {
  position: absolute;
  top: 1838px;
  left: 126px;
  width: 378px;
  height: 369px;
  object-fit: cover;
}
.homepage-child3,
.homepage-child4 {
  left: 562px;
  width: 366px;
}
.homepage-child4 {
  left: 968px;
  width: 352px;
}
.articles2,
.programme,
.where-we-are {
  position: absolute;
  top: 1797px;
  left: 639px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 212px;
  height: 41px;
}
.articles2,
.programme {
  left: 1060px;
  width: 180px;
}
.articles2 {
  left: 254px;
  width: 117px;
}
.homepage-child5 {
  top: 2177px;
  left: 238px;
  width: 154px;
  height: 53px;
}
.homepage-child5,
.homepage-child6,
.read-more {
  position: absolute;
  cursor: pointer;
}
.read-more {
  top: 2188px;
  left: 254px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 122px;
  height: 31px;
}
.homepage-child6 {
  top: 2180px;
  left: 688px;
  background-color: var(--color-lightslategray);
  width: 153px;
  height: 53px;
}
.read-more1 {
  top: 2192px;
  left: 704px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 121px;
  height: 30px;
}
.homepage-child7,
.read-more1,
.read-more2 {
  position: absolute;
  cursor: pointer;
}
.homepage-child7 {
  top: 2182px;
  left: 1086px;
  background-color: var(--color-lightslategray);
  width: 154px;
  height: 53px;
}
.read-more2 {
  top: 2194px;
  left: 1102px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 121px;
  height: 30px;
}
.homepage-child8 {
  position: absolute;
  top: 2324px;
  left: 12px;
  width: 1440px;
  height: 350px;
  object-fit: cover;
}
.psj-focus-area {
  position: absolute;
  top: 2441px;
  left: 361px;
  font-size: 96px;
  font-family: var(--font-fira-sans);
}
.homepage-child9 {
  position: absolute;
  top: 2696px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 630px;
}
.homepage-child10,
.homepage-child11 {
  position: absolute;
  top: 2830px;
  left: 145px;
  width: 384px;
  height: 362px;
}
.homepage-child11 {
  left: 573px;
  width: 772px;
}
.gallery,
.homepage-child12 {
  position: absolute;
  top: 3421px;
}
.homepage-child12 {
  left: 0;
  background-color: var(--colours-primary);
  width: 1440px;
  height: 883px;
}
.gallery {
  left: 577px;
  font-size: var(--font-size-61xl);
  font-family: var(--font-fira-sans);
}
.n-1-icon {
  position: absolute;
  top: 3564px;
  left: 120px;
  border-radius: 49px;
  width: 386px;
  height: 359px;
  object-fit: cover;
}
.homepage-child13,
.homepage-child14,
.homepage-child15,
.n-1-icon1,
.n-2-icon {
  position: absolute;
  top: 3564px;
  left: 516px;
  border-radius: var(--br-31xl);
  width: 371px;
  height: 359px;
  object-fit: cover;
}
.homepage-child14,
.homepage-child15,
.n-1-icon1,
.n-2-icon {
  left: 900px;
  width: 410px;
}
.homepage-child15,
.n-1-icon1,
.n-2-icon {
  top: 3933px;
  left: 124px;
  width: 379px;
  height: 371px;
}
.homepage-child15,
.n-1-icon1 {
  left: 516px;
  width: 371px;
  height: 376px;
}
.homepage-child15 {
  left: 900px;
  width: 410px;
}
.homepage-child16,
.more {
  position: absolute;
  top: 4350px;
  left: 646px;
  width: 132px;
  height: 57px;
  cursor: pointer;
}
.more {
  top: 4358px;
  left: 674px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 121px;
  height: 30px;
}
.vector-icon {
  position: absolute;
  height: 1.77%;
  width: 7.43%;
  top: 57.31%;
  right: 72.5%;
  bottom: 40.92%;
  left: 20.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon,
.vector-icon1 {
  position: absolute;
  top: 2996px;
  left: 701px;
  width: 124px;
  height: 127px;
  overflow: hidden;
}
.vector-icon1 {
  height: 1.85%;
  width: 9.38%;
  top: 57.33%;
  right: 13.75%;
  bottom: 40.82%;
  left: 76.88%;
  max-width: 100%;
  max-height: 100%;
}
.connect,
.deliver,
.donate {
  position: absolute;
  top: 2938px;
  left: 268px;
  font-family: var(--font-kotta-one);
}
.connect,
.deliver {
  left: 672px;
}
.deliver {
  left: 1093px;
}
.homepage {
  position: relative;
  background-color: var(--colours-primary);
  width: 100%;
  height: 5257px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-cambo);
}
