.bookslot-child {
    position: absolute;
    top: 0px;
    left: 2.5px;
    background-color: var(--color-white);
    width: 1442.5px;
    height: 1279.5px;
}
.bookslot-item {
    position: absolute;
    top: 0px;
    left: 2px;
    width: 1440px;
    height: 252px;
    object-fit: cover;
}
.component-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: var(--br-6xl);
    background-color: var(--color-yellowgreen);
}
.bookslot-inner {
    position: absolute;
    top: 402px;
    left: 152px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner1 {
    position: absolute;
    top: 402px;
    left: 1050px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner2 {
    position: absolute;
    top: 402px;
    left: 751px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner3 {
    position: absolute;
    top: 402px;
    left: 451px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner4 {
    position: absolute;
    top: 538px;
    left: 152px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner5 {
    position: absolute;
    top: 538px;
    left: 1050px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner6 {
    position: absolute;
    top: 538px;
    left: 751px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.bookslot-inner7 {
    position: absolute;
    top: 538px;
    left: 451px;
    width: 242px;
    height: 65px;
    cursor: pointer;
}
.am-10008 {
    position: absolute;
    top: 427px;
    left: 166px;
    display: inline-block;
    width: 214px;
    height: 15px;
}
.am-11008 {
    position: absolute;
    top: 427px;
    left: 464px;
    display: inline-block;
    width: 217px;
    height: 15px;
}
.am-12008 {
    position: absolute;
    top: 427px;
    left: 763px;
    display: inline-block;
    width: 217px;
    height: 15px;
}
.am-1008 {
    position: absolute;
    top: 427px;
    left: 1067px;
    display: inline-block;
    width: 207px;
    height: 15px;
}
.pm-3008 {
    position: absolute;
    top: 563px;
    left: 173px;
    display: inline-block;
    width: 200px;
    height: 15px;
}
.pm-4008 {
    position: absolute;
    top: 563px;
    left: 472px;
    display: inline-block;
    width: 200px;
    height: 15px;
}
.pm-5008 {
    position: absolute;
    top: 563px;
    left: 772px;
    display: inline-block;
    width: 200px;
    height: 15px;
}
.pm-6008 {
    position: absolute;
    top: 563px;
    left: 1071px;
    display: inline-block;
    width: 200px;
    height: 15px;
}
.kotak-atas8 {
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: var(--color-white);
    border-bottom: 0.6px solid var(--color-gray);
    box-sizing: border-box;
    width: 1440px;
    height: 135.6px;
}
.bookslot-child1 {
    position: absolute;
    top: 32px;
    left: 349px;
    border-radius: var(--br-31xl);
    background-color: var(--color-gainsboro);
    width: 957px;
    height: 70px;
}
.contact-us8 {
    position: absolute;
    top: 58px;
    left: 1037px;
    font-size: var(--font-size-sm);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    cursor: pointer;
}
.psj-transparent-38 {
    position: absolute;
    top: 15px;
    left: 215px;
    width: 122px;
    height: 123px;
    object-fit: cover;
}
.articles8 {
    position: absolute;
    top: 58px;
    left: 898px;
    font-size: var(--font-size-sm);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    cursor: pointer;
}
.programmes8 {
    position: absolute;
    top: 58px;
    left: 706px;
    font-size: var(--font-size-sm);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    cursor: pointer;
}
.about-us8 {
    position: absolute;
    top: 58px;
    left: 553px;
    font-size: var(--font-size-sm);
    font-family: var(--font-krona-one);
    color: var(--color-black);
    cursor: pointer;
}
.home9 {
    position: absolute;
    top: 0%;
    left: 0%;
}
.home8 {
    position: absolute;
    top: 58px;
    left: 449px;
    width: 56px;
    height: 18px;
    cursor: pointer;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-krona-one);
}
.bookslot-child2 {
    position: absolute;
    top: 60px;
    left: 646px;
    width: 13px;
    height: 14px;
    object-fit: contain;
}
.kotak-atas-icon16 {
    position: absolute;
    top: 135px;
    left: 5px;
    width: 1440px;
    height: 113px;
    object-fit: cover;
}
.timeslot-booking8 {
    position: absolute;
    top: 169px;
    left: 152px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-krona-one);
    color: var(--color-black);
}
.psj-transparent-48 {
    position: absolute;
    top: 44px;
    left: 100px;
    width: 222px;
    height: 208px;
    object-fit: cover;
}
.projek-sedekah-jariah-container16 {
    position: absolute;
    top: 254px;
    left: 112px;
}
.projek-sedekah-jariah-container17 {
    position: absolute;
    top: 593px;
    left: 1024px;
}
.privacy-policy-terms-container8 {
    position: absolute;
    top: 539px;
    left: 1024px;
    white-space: pre-wrap;
}
.email-projeksedekahjariahgma {
    margin: 0;
}
.no-telefon-013-286-container {
    position: absolute;
    top: 389px;
    left: 112px;
}
.frame-child21 {
    position: absolute;
    top: 577.5px;
    left: 99.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1241px;
    height: 1px;
}
.psj-transparent-4-parent6 {
    position: absolute;
    top: 628px;
    left: 3px;
    width: 1440px;
    height: 652px;
    overflow: hidden;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-cagliostro);,
}
.my-account13 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 34px;
    flex-shrink: 0;
}
.my-account12 {
    position: absolute;
    top: 50px;
    left: 1174px;
    width: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-krona-one);
}
.bookslot {
    position: relative;
    width: 100%;
    height: 909px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-league-spartan);
}
.slots-info {
    font-size: 14px;
    margin-top: 5px;
}

.AT{
    font-size: 20px;
    margin-top: -24px;
}